<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Pixel_7_API_VanillaIceCream">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="deviceName" value="Pixel_7_API_VanillaIceCream" />
        <parameter name="systemPort" value="10000" />
        <parameter name="chromeDriverPort" value="11000" />
        <classes>
            <class name="com.qa.tests.LoginTests"/>
            <class name="com.qa.tests.ProductTests"/>
        </classes>
    </test>
    
     <test name="Pixel_8_API_VanillaIceCream">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="deviceName" value="Pixel_8_API_VanillaIceCream" />
        <parameter name="systemPort" value="10001" />
        <parameter name="chromeDriverPort" value="11001" />
        <classes>
            <class name="com.qa.tests.LoginTests"/>
            <class name="com.qa.tests.ProductTests"/>
        </classes>
    </test>
    
         <test name="Pixel_8_Pro_API_VanillaIceCream">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="deviceName" value="Pixel_8_Pro_API_VanillaIceCream" />
        <parameter name="systemPort" value="10002" />
        <parameter name="chromeDriverPort" value="11002" />
        <classes>
            <class name="com.qa.tests.LoginTests"/>
            <class name="com.qa.tests.ProductTests"/>
        </classes>
    </test>

</suite> <!-- Suite -->